.menu {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 20px auto;
    border: 3px solid #ffffff;
    border-radius: 50px;
    overflow: hidden;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
}
.link_name {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(33, 33, 33, 0.8);
    font-size: 30px;
    line-height: 250px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 2px 3px #000, 0 2px 1px #ff7a01;
    position: absolute;
}
.bg_fifteens {
    background: url("../../assets/images/bg_fifteens.png") no-repeat;
    background-size: cover;
}
.bg_couples {
    background: url("../../assets/images/bg_couples.png") no-repeat;
    background-size: cover;
}
.bg_balda {
    background: url("../../assets/images/bg_balda.png") no-repeat;
    background-size: cover;
}
.bg_dungeon {
    background: url("../../assets/images/bg_surtur_dungeon.png") no-repeat;
    background-size: cover;
}
.link_name:hover {
    background-color: rgba(33, 33, 33, 0.3);
}
