.main {
    display: flex;
}
.wrapper {
    display: flex;
    width: 625px;
    flex-direction: column;
    margin: 20px 50px 20px 100px;
}
.header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.restart_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 55%;
}
.restart_btn {
    margin-left: 10px;
    width: 40%;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    box-shadow: 0 2px 3px #ffb6e9;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    background: linear-gradient(114deg, rgba(153,34,195,1) 0%, rgba(255,75,115,0.9948354341736695) 100%);
    color: #f5f5ff;
    text-shadow: 1px 1px 2px #430385;
    cursor: pointer;
}
.endgame_btn {
    margin-right: 10px;
}
.restart_btn:active {
    box-shadow: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 2px 5px black;
    position: relative;
}
.cell {
    display: block;
    width: 125px;
    height: 125px;
    background-color: #f5f9ff;
    border: 1px solid #97acc8;
    box-sizing: border-box;
    color: #230aae;
    text-shadow: 0 1px 1px #fffffa;
    text-align: center;
    font-size: 75px;
    line-height: 125px;
    outline: none;
    user-select: none;
}
.cell:nth-child(5n + 5) {
    border-left-color: red;
}
.cell:nth-child(4), .cell:nth-child(9), .cell:nth-child(14),
.cell:nth-child(19) , .cell:nth-child(24) {
    border-right-color: red;
}
.table_board {
    display: flex;
    width: 600px;
    min-height: 300px;
    margin-top: 67px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px black;
    background: #f5f9ff;
    font-size: 28px;
    color: #230aae;
    text-shadow: 0 1px 1px #000;
}
.first_player {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    border-right: 1px solid #212121;
    position: relative;
 }
.second_player {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    border-left: 1px solid #212121;
    position: relative;
}
.table_header {
    width: 100%;
    border-bottom: 2px solid #212121;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #ff6600;
}
.table_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
}
.table_result {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #212121;
    padding-top: 10px;
}
.table_result_title, .table_result_sum {
    display: inline-block;
}
.table_result_sum {
    color: red;
}

.game_over {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    position: absolute;
    padding-top: calc(100% - 50px);
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 100px;
    line-height: 100px;
    color: #e7ff31;
    text-shadow: 2px 2px 3px #990dff;
    background-color: rgba(51, 51, 51, 0.8);
}

@media (max-width: 520px) {
    .main {
        flex-direction: column;
    }
    .table_board {
        width: 400px;
        margin: 20px auto;
        font-size: 16px;
    }
    .table_header {
        font-size: 26px;
    }
    .wrapper {
        width: 400px;
        margin: 20px auto;
    }
    .restart_wrap {
        justify-content: flex-start;
        width: 60%;
    }
    .restart_btn {
        font-size: 20px;
        margin-left: 5px;
        padding: 5px;
    }
    .endgame_btn {
        width: 60%;
        margin-right: 5px;
    }
    .cell {
        width: 80px;
        height: 80px;
        font-size: 48px;
        line-height: 80px;
        padding-top: 0;
    }
}
@media (min-width: 520px) and (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .table_board {
        width: 500px;
        margin: 20px auto;
        font-size: 18px;
    }
    .table_header {
        font-size: 28px;
    }
    .wrapper {
        width: 500px;
        margin: 20px auto;
    }
    .restart_wrap {
        justify-content: flex-start;
        width: 60%;
    }
    .restart_btn {
        font-size: 20px;
        margin-left: 5px;
        padding: 5px;
    }
    .endgame_btn {
        margin-right: 5px;
    }
    .cell {
        width: 100px;
        height: 100px;
        font-size: 60px;
        line-height: 100px;
        padding-top: 0;
    }
}
@media (min-width: 768px) and (max-width: 1440px) {
    .main {
        flex-direction: column;
    }
    .table_board {
        margin: 20px auto;
    }
    .wrapper {
        margin: 20px auto;
    }
}
