.main {
    display: flex;
}
.wrapper {
    display: flex;
    width: 526px;
    flex-direction: column;
    margin: 20px 50px;
}
.header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.restart_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 55%;
}
.restart_btn {
    margin-left: 10px;
    width: 40%;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    box-shadow: 0 2px 3px #ffb6e9;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    background: linear-gradient(114deg, rgba(153,34,195,1) 0%, rgba(255,75,115,0.9948354341736695) 100%);
    color: #f5f5ff;
    text-shadow: 1px 1px 2px #430385;
    cursor: pointer;
}
.restart_btn:active {
    box-shadow: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3px;
    border: 5px solid rgba(178, 36, 0, 0.84);
    border-radius: 10px;
    position: relative;
    background: url("../../assets/images/bg_dungeon.jpg") no-repeat center;
    background-size: cover;
}
.container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(142, 144, 146, 0.33);
}
.cell {
    width: 100px;
    height: 100px;
    margin: 1px;
    border: 1px solid #333;
    border-radius: 10px;
    box-sizing: border-box;
    background: none;
    box-shadow: 2px 2px 4px rgb(141, 141, 141), -2px -2px 4px rgb(141, 141, 141);
    color: #fff;
    text-shadow: 0 2px 3px #000;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 100px;
    cursor: pointer;
    position: relative;
}
.thor {
    width: 100%;
    height: 100%;
    /*background: url("../../assets/images/thor.png") no-repeat center;*/
    /*background-size: cover;*/
}
.info_board {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    min-height: 300px;
    padding: 10px;
    margin-top: 67px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px black;
    background: url("../../assets/images/bg_stat.jpg") no-repeat center;
    background-size: cover;
    font-size: 28px;
    color: #000000;
}
.thor_stat {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 40%;
    box-sizing: border-box;
    margin-top: 10px;
    box-shadow: -2px -2px 3px rgba(255, 109, 95, 0.51), 2px 2px 3px rgba(255, 109, 95, 0.51);
    background-color: rgba(255, 248, 102, 0.2);
}
.thor_wrapper {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: #7fe8ff;
    text-shadow: 2px 2px 5px #000;
    font-size: 24px;
}
.thor_model {
    width: 100px;
    height: 175px;
    text-align: center;
    background: url("../../assets/images/thor.png") no-repeat center;
    background-size: cover;
}
.health {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 80%;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 2px 5px #222;
    color: #fbfff9;
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px 5px #000;
}

.game_over {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    padding-top: 225px;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #e7ff31;
    text-shadow: 2px 2px 3px #990dff;
    background-color: rgba(51, 51, 51, 0.8);
}
.mjolnir {
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px auto;
    transform: rotate(30deg);
}

@media (max-width: 576px) {
    .main {
        flex-direction: column;
        width: 350px;
        margin: 0 auto;
    }
    .info_board {
        width: 320px;
        margin: 20px auto;
        font-size: 16px;
    }
    .thor_stat {
        height: 220px;
    }
    .wrapper {
        width: 320px;
        box-sizing: border-box;
        margin: 20px auto;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        border-width: 3px;
        padding-left: 1px;
        padding-right: 1px;
        box-sizing: border-box;
    }
    .restart_wrap {
        justify-content: flex-start;
        width: 60%;
    }
    .restart_btn {
        letter-spacing: 0;
        font-size: 20px;
        margin-left: 5px;
        padding: 5px;
    }
    .cell {
        width: 60px;
        height: 60px;
        font-size: 40px;
        line-height: 60px;
        padding-top: 0;
    }
    .game_over {
        padding-top: 167px;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .info_board {
        width: 510px;
        margin: 20px auto;
        font-size: 18px;
    }
    .thor_stat {
        height: 220px;
    }
    .wrapper {
        width: 510px;
        margin: 20px auto;
    }
    .container {
        width: 100%;
    }
    .restart_wrap {
        justify-content: flex-start;
        width: 60%;
    }
    .restart_btn {
        font-size: 20px;
        margin-left: 5px;
        padding: 5px;
    }
    .cell {
        width: 100px;
        height: 100px;
        font-size: 60px;
        line-height: 100px;
        padding-top: 0;
    }
    .game_over {
        padding-top: 217px;
    }
}
@media (min-width: 768px) and (max-width: 1440px) {
    .main {
        flex-direction: column;
    }
    .info_board {
        width: 700px;
        margin: 20px auto;
    }
    .wrapper {
        margin: 20px auto;
    }
    .thor_stat {
        height: 220px;
    }

}
