* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background: linear-gradient(137deg, rgba(39,36,79,1) 0%, rgba(76,93,138,1) 38%, rgba(165,166,171,1) 100%) no-repeat;
}